html {
    box-sizing: border-box;
    font-size: 100%;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-family: 'Karla', 'sans-serif';
    background-color: hsl(211, 53%, 92%);
}